.post {
    border: 1px solid gray;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.post .date {
    font-style: italic;
    color: lightgray;
    font-size: 8px;
}

.post .dark {
    color: #000;
    background-color: #fff;
}